
<ion-content [fullscreen]="true">
 
  
  <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-lg="2">
      <ion-row>
        <ng-container *ngFor="let numero of numberButtons"> 
          <ng-container *ngFor="let operacao of operatorButtons"> 
            <ion-col size="3">
                <ion-button color="primary" (click)="exibir({{numero}})">{{numero}}</ion-button>
                <ion-button color="dark" (click)="calcular({{resultado}})">{{numero}}</ion-button>
            </ion-col>
        </ng-container>
      </ng-container>
      </ion-row>
    </ion-col>
  </ion-row>

  
</ion-content>

